*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #023436;
    color: #048980;

}

.logo-wrapper{
    padding-top: 5px;
}

.btn-wrapper{
    display: flex;
    align-items: center;
}

button{
    margin-left: 24px;
    padding:  4px 10px;
    border-radius: 10px;
    border: 1px solid #000c0b;
    font-size: 14px;
    background-color: #048980;
    color: white;
}

button:hover{
    cursor: pointer;
}

a{
    padding: 10px;
    text-decoration: none;
    color: green;
}

a:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.logo{
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
}
/*----------------------------- SECTION HOME -------------------------*/
.home,
.search,
.info{
    height: 100vh;
    padding: 0 10%;
}