*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home,
.search,
.info{
    height: 90vh;
    padding: 0 12%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #023436;
    background-color: rgba(0, 0, 0, 0.803);
    color: #048980;

}

.logo-wrapper{
    padding-top: 5px;
}

.btn-wrapper{
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.header-btn{
    margin-left: 34px;
    padding:  4px 10px;
    border-radius: 6px;
    border: 1px solid #000c0b;
    font-size: 14px;
    background-color: #048980;
    color: black;
}

.header-btn:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.logo{
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
}



/*----------------------------- SECTION HOME -------------------------*/

.home-content-wrapper{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.home-contet{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 160px 60px;
}
.home-beer-card{
    display: grid;
    width: 340px;
    grid-template-rows: 1fr;
    grid-template-rows: auto auto;
    border-radius: 20px;
    border: 1px solid black;
}

.home-beer-card-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-beer-card-name p:nth-child(1){
    font-size: 20px;
    font-weight: bold;

}

.beer-card-img{
    height: 260px;
}

.home-beer-card-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
}



.home-beer-card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
}

.home-random-beer-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -----------------------------test css button */

